.navbar{
    height: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30,30,30);
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
}

.home{
    margin: 2rem;
    cursor: pointer;
}
.home:hover{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
}
.about{
    margin: 2rem;
    cursor: pointer;
}
.about:hover{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
}
.portfolio{
    margin: 2rem;
    cursor: pointer;
}
.portfolio:hover{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
}

.project{
    margin: 2rem;
    cursor: pointer;
}
.project:hover{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
}
.menubtn {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}